<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
{% extends 'base_standard.html' %}
<head>
 {% block css %}
    <script src="static/check_form.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login_page.css') }}">
 {% endblock %}
</head>
<body>
{% block body %}
<form id="register_form" action="/register_user" onsubmit="event.preventDefault(); check_form();" method="POST">
    <br>
    Name:
    <p id="show_message_name"></p>
    <input id="name" type="text" name="name" onchange="check_value('name', 'show_message_name', 'name')" required><br>
    Email:
    <p id="show_message_email"></p>
    <input id="email" type="email" name="email" onchange="check_value('email', 'show_message_email', 'email')" required><br>
    Password:
    <p id="show_message_pass"></p>
    <input id="passcode_check" type="password" name="passcode" required><br>
    Confirm Password:
    <p id="show_message_conf"></p>
    <input id="repasscode_check" type="password" name="repasscode" required><br>
    <input type="submit" value="Register">
</form>
{% endblock %}
</body>
</html>