<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to the RESTaurant App !</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="logon">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <p class="alert"> {{ message }}</p>
            {% endfor %}
        {% endif %}
        {% endwith %}
        <form action="http://localhost:8333/verify" method = "POST">
            <p style="font-size:16px">Please log-in: </p>
            <p>Name:</p>
            <input type="text" name="name_value"/>
            <p>Password:</p>
            <input type="text" name="password"/>
            <input type="submit" value="Log-in" class="sub_button"/>
        </form>
    </div>
</body>
</html>